body{
    background-color: #9be942;
    text-align: center;
}

main{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 13px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

h3{
    color: rgb(0, 0, 0);
}

p{
    color: rgb(82, 82, 82);
}

label{
    color: rgb(0, 0, 0);
}

nav{
    padding: 10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li{
    display: inline;
    margin-right: 25px;
}

nav a{
    color: rgb(82, 82, 82);
}
nav a:hover{
    color: #057746;
}

.place-name{
    color: #057746;
}

main a{
    color: black;
}
main a:hover{
    color: #057746;
}